{{!--
--------------------------------------------------------------------------------
Default page layout
--------------------------------------------------------------------------------
--}}

<!DOCTYPE html>
<html>
  <head>
    {{> header }}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
