{{> navigation_bar}}

<div class="container-testing">
	<div class="container-testing-content">

		<h1>Testing</h1>

		<br>

		<section class="section-testing" id="section-testing-messages">
			{{> messages}}
		</section>


		<section class="section-testing" id="section-testing-collaboration">
			<ul class="actions-vertical">
				<li><a class="button" id="collaboration-button" tabindex="0" role="button">Enable collaboration</a></li>
			</ul>

{{> collaboration_test_editor_header idMain="connected-users" idList="connected-users-list"}}

		</section>


		<section class="section-testing" id="section-testing-editor">
			<ul class="actions-vertical">
				<li><a class="button selected" id="marktex-button-both" tabindex="0" role="button">Both</a></li>
				<li><a class="button" id="marktex-button-edit" tabindex="0" role="button">Edit</a></li>
				<li><a class="button" id="marktex-button-view" tabindex="0" role="button">View</a></li>
			</ul>

{{> marktex_document_editor idEditor="marktex-editor" idInput="marktex-input" idOutput="marktex-output"}}

		</section>

	</div>
</div>
