<div id="testing-live-md-rendering-import-export">
    <button id="testing-live-md-rendering-import-export-button-import-md">Import MD</button>
    <button id="testing-live-md-rendering-import-export-button-export-pdf">Export to PDF</button>
    <button id="testing-live-md-rendering-import-export-button-export-zip">Export to ZIP</button>
</div>

{{> marktex_document_editor_buttons idBoth="marktex-button-both" idEdit="marktex-button-edit" idView="marktex-button-view"}}
{{> marktex_document_editor idEditor="marktex-editor" idInput="marktex-input" idOutput="marktex-output"}}
