/* TODO Load OpenSans latin font (https://github.com/googlefonts/opensans)
@font-face {
	font-family: 'Local Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans Regular'), local('OpenSans-Regular'),
		url('/fonts/open-sans-v15-latin-regular.woff2') format('woff2');
}*/

/* TODO Add git submodule to load Fira Code font (https://github.com/tonsky/FiraCode)
@font-face {
	font-family: 'Local Fira Code';
	font-style: normal;
	font-weight: 400;
	src: local('Fira Code'), local('Fira Code Regular'),
		url('/fonts/FiraCode-Regular.woff2') format('woff2');
}*/

/*
 * Global CSS variables
 */
:root {
	--global-color-theme-primary: #5658e9;
	--global-color-theme-accent: #ffd000;
	--global-color-background: #f7f7f7;
	--global-color-background-body: #ffffff;
	--global-color-background-message:#d7d7d7;
	--global-color-background-toolbar: #333;
	--global-color-background-toolbar-element-hovered: #111;
	--global-color-text: #000000;
	--global-font-family: Helvetica;
	/* --global-font-family: 'Local Open Sans'; */
	/* --global-font-family-code: 'Local Fira Code'; */
	--global-responsive-padding-card: 2em;
	--global-responsive-border-radius-button: 4px;
	--global-responsive-border-radius-input: 4px;
	--global-responsive-border-radius-card: 10px;
	--global-responsive-padding-button-top-bottom: 0.5em;
	--global-responsive-padding-button-left-right: 1.3em;
	--global-box-shadow-card: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	--global-button-background: #5658e917;
	--global-button-background-dangerous: #e9565617;
	--global-button-background-update: #39ae0328;
	--global-button-background-hovered: var(--global-color-theme-primary);
	--global-button-background-dangerous-hovered: #eb1d1d;
	--global-button-background-update-hovered: #39ae03;
	--global-input-text-background-color: #ffffff;
	--global-input-text-text-color: #000000;
	--global-input-text-border-color: #ddd;
	--global-input-text-box-shadow: inset 0 1px 3px var(--global-input-text-border-color);
	--global-input-text-padding-top-bottom: 1em;
	--global-input-text-padding-right-left: 1.5em;
	--global-input-margin: 0.5em;
	--global-font-size-text: 1em;
	--global-font-size-button: 1.1em;
	--global-font-size-input: 1em;
}


/* Dark mode */
@media (prefers-color-scheme: dark) {
	:root {
		--global-color-background: #000000;
		--global-color-background-body: #262626;
		--global-color-background-message:#393939;
		--global-color-background-toolbar: #000000;
		--global-color-background-toolbar-element-hovered: #ffffff61;
		--global-color-text: #ffffff;
		--global-button-background: #5658e95c;
		--global-button-background-dangerous: #eb1d1d5c;
		--global-button-background-update: #39ae035c;
		--global-input-text-background-color: #000000;
		--global-input-text-border-color: #ffffff;
		--global-input-text-text-color: #ffffff;
		--global-input-text-box-shadow: none;
	}
}

/*
 * @media screen sizes copied from gokulkrishh/media-query.css
 * https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488
 */


/*
 * ##Device = Laptops, Desktops
 * ##Screen = B/w 1025px to 1280px
 */
@media (min-width: 1025px) {
	:root {
		--global-responsive-state-string: '@media (min-width: 1025px) [Laptop, Desktop]';
		--global-responsive-maximum-width: 1200px;
	}
}

/*
 * ##Device = Tablets, IPads (portrait)
 * ##Screen = B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) {
	:root {
		--global-responsive-state-string: '@media (min-width: 768px) and (max-width: 1024px) [Tablet (portrait)]';
		--global-responsive-maximum-width: 100%;
		--global-responsive-border-radius-card: 0px;
		--global-responsive-padding-card: 0em;	}
}

/*
 * ##Device = Tablets, IPads (landscape)
 * ##Screen = B/w 768px to 1024px
 */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	:root {
		--global-responsive-state-string: '@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) [Tablet (landscape)]';
		--global-responsive-maximum-width: 100%;
		--global-responsive-border-radius-card: 0px;
		--global-responsive-padding-card: 0em;	}
}

/*
 * ##Device = Low Resolution Tablets, Mobiles (Landscape)
 * ##Screen = B/w 481px to 767px
 */
@media (min-width: 481px) and (max-width: 767px) {
	:root {
		--global-responsive-state-string: '@media (min-width: 481px) and (max-width: 767px) [Smartphone (landscape)]';
		--global-responsive-maximum-width: 100%;
		--global-responsive-border-radius-card: 0px;
		--global-responsive-padding-card: 0em;
	}
}

/*
 * ##Device = Most of the Smartphones Mobiles (Portrait)
 * ##Screen = B/w 320px to 479px
 */
@media (max-width: 480px) {
	:root {
		--global-responsive-state-string: '@media (max-width: 480px) [Smartphone (portrait)]';
		--global-responsive-maximum-width: 100%;
		--global-responsive-border-radius-card: 0px;
		--global-responsive-padding-card: 0em;
	}
}


a.button {
	border: none;
	padding: var(--global-responsive-padding-button-top-bottom) var(--global-responsive-padding-button-left-right);
	text-align: center;
	text-decoration: none;
	font-size: var(--global-font-size-button);
	margin: 4px 2px;
	transition-duration: 0.2s;
	cursor: pointer;
	color: var(--global-button-background-hovered);
	background: var(--global-button-background);
	border-radius: var(--global-responsive-border-radius-button);
	display: inline-flex;
}

a.button.button-remove {
	color: var(--global-button-background-dangerous-hovered);
	background: var(--global-button-background-dangerous);
}

a.button.button-update {
	color: var(--global-button-background-update-hovered);
	background: var(--global-button-background-update);
}

a.button.selected,
a.button:hover,
a.button:focus {
	background-color: var(--global-button-background-hovered);
	color: white;
	outline: none;
}

a.button.button-remove.selected,
a.button.button-remove:hover,
a.button.button-remove:focus {
	background: var(--global-button-background-dangerous-hovered);
	outline: none;
}

a.button.button-update.selected,
a.button.button-update:hover,
a.button.button-update:focus {
	background: var(--global-button-background-update-hovered);
	outline: none;
}

a.button.selected {
	cursor: auto;
}

input.input-text {
	background-color: var(--global-input-text-background-color);
	color: var(--global-input-text-text-color);
	width: calc(100% - 2 * var(--global-input-text-padding-right-left) - 2px);
	margin: var(--global-input-margin) 0;
	font-size: var(--global-font-size-input);
	border: 1px solid var(--global-input-text-border-color);
	box-shadow: var(--global-input-text-box-shadow);
	border-radius: var(--global-responsive-border-radius-input);
	padding: var(--global-input-text-padding-top-bottom) var(--global-input-text-padding-right-left);
}

input.input-checkbox {
	margin: var(--global-input-margin) 0;
	font-size: var(--global-font-size-input);
}

ul.actions,
ul.actions-vertical,
ul.element-list {
	list-style: none;
	padding: 1em 0;
	margin: 0;
}

ul.actions-vertical>li {
	display: inline-block;
}

ul.messages {
	list-style: none;
	padding: 1em 0;
	margin: 0;
}

ul.messages>li {
	background-color: var(--global-color-background-message);
	padding: 0.2em 1em;
	border-radius: 4px;
}

.can-be-toggled {
	max-height: 1000vh;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}

.can-be-toggled.hide-element {
	max-height: 0px;
}

div.container-navigation-bar {
	margin: auto;
	max-width: var(--global-responsive-maximum-width);
}

div.container-navigation-bar>ul.navigation-bar-links {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--global-color-background-toolbar);
}

div.container-navigation-bar>ul.navigation-bar-links>li:not(.align-right) {
	float: left;
}

div.container-navigation-bar>ul.navigation-bar-links>li.align-right {
	float: right;
}

div.container-navigation-bar>ul.navigation-bar-links>li>a.navigation-bar-link {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

div.container-navigation-bar>ul.navigation-bar-links>li>a.navigation-bar-link:hover,
div.container-navigation-bar>ul.navigation-bar-links>li>a.navigation-bar-link:focus {
	background-color: var(--global-color-background-toolbar-element-hovered);
	outline: none;
}

.invisible {
	display: none;
}
