div.container-marktex-editor {
	width: 100%;
	display: grid;
	grid-template-columns: 50% 50%;
}

div.container-marktex-editor.only-edit, div.container-marktex-editor.only-view {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
}

div.container-marktex-editor > div.container-marktex-editor-input {
	width: 100%;
	display: block;
}

div.container-marktex-editor.only-view > div.container-marktex-editor-input {
	width: 100%;
	display: none;
}

div.container-marktex-editor > div.container-marktex-editor-input > textarea {
	width: 100%;
	padding: 1em;
	resize: none;
}

div.container-marktex-editor > div.container-marktex-editor-output {
	width: 100%;
	display: block;
	background-color: white;
}
div.container-marktex-editor > div.container-marktex-editor-output .markdown-latex-block p {
	display: none;
}

div.container-marktex-editor.only-edit > div.container-marktex-editor-output {
	width: 100%;
	display: none;
}

div.container-marktex-editor > div.container-marktex-editor-output > div {
	width: 100%;
}

div.container-marktex-editor-buttons {
	width: 100%;
}

div.container-marktex-editor-buttons > div.container-marktex-editor-buttons-main {
	width: 100%;
}

div.container-marktex-editor-buttons > div.container-marktex-editor-buttons-main > a.marktex-editor-button {
	background-color: red
}

.markdown-body {
	box-sizing: border-box;
	min-width: 200px;
	max-width: 980px;
	margin: 0 auto;
	padding: 45px;
}

@media (max-width: 767px) {
	.markdown-body {
		padding: 15px;
	}
}
