<li>
	<a class="button" href="/account/{{this.friendAccountId}}">{{this.friendAccountName}}</a>
	<a class="button button-remove button-remove-friend" friendId="{{this.id}}" friendName="{{this.friendAccountName}}" tabindex="0" role="button">Remove</a>
</li>
