{{!--
--------------------------------------------------------------------------------
General information partial
--------------------------------------------------------------------------------
Parameters:
{
  header: {
    title: string
    description: string
    author: string
  }
}
--------------------------------------------------------------------------------
--}}

{{!-- Website encoding --}}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

{{!-- Website viewport for responsive layout --}}
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />

{{!-- Title --}}
<title>{{header.title}}</title>

{{!-- Description and author of website --}}
<meta name="description" content="{{header.description}}">
<meta name="author" content="{{header.author}}">
