<div class="container-marktex-editor-buttons">
	<div class="container-marktex-editor-buttons-main">
		<a class="marktex-editor-button" id="{{idBoth}}">Both</a>
		<a class="marktex-editor-button" id="{{idEdit}}">Edit</a>
		<a class="marktex-editor-button" id="{{idView}}">View</a>
	</div>
</div>
